.content{
    border: 1px solid red;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
.header{
    border: 1px solid green;
    height: 100px;
    width: 1000px;
}
.battleground{
    width: 1000px;
    height: 500px;
}
.bearPlace{
    width: 475px;
    height: 500px;
    float: left;
    border: 1px solid purple;
    text-align: center;
}
.bearPlace:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.insectsPlace{
    width: 475px;
    height: 500px;
    float: right;
    border: 1px solid blue;
}
.log{
    border: 1px solid rgb(62, 121, 62);
    height: 100px;
    width: 1000px;
}
.info{
    border: 1px solid rgb(96, 28, 160);
    height: 100px;
    width: 1000px;
}
.bear{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid brown;
}
.insects{
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 1px solid green;
    margin: 22px 30px;
}